@model IEnumerable<HotelReservationManager.Data.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">Create New Reservation</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.CheckInTime)</th>
            <th>@Html.DisplayNameFor(model => model.CheckOutTime)</th>
            <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
            <th>@Html.DisplayNameFor(model => model.Room)</th>
            <th>@Html.DisplayNameFor(model => model.ClientReservations)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CheckInTime</td>
                <td>@item.CheckOutTime</td>
                <td>@item.TotalPrice</td>
                <td>@item.Room.Number</td>
                <td>
                    @foreach (var clientReservation in item.ClientReservations)
                    {
                        <p>@clientReservation.Client.FirstName @clientReservation.Client.LastName</p>
                    }
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.Id })">Details</a>
                    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
