@model HotelReservationManager.Data.Models.Room

@{
    ViewData["Title"] = "Delete Room";
}

<h2>@ViewData["Title"]</h2>

<h4>Are you sure you want to delete this room?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Number</dt>
        <dd class="col-sm-10">@Model.Number</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Capacity</dt>
        <dd class="col-sm-10">@Model.Capacity</dd>

        <dt class="col-sm-2">Price (Adult)</dt>
        <dd class="col-sm-10">@Model.PriceAdult</dd>

        <dt class="col-sm-2">Price (Children)</dt>
        <dd class="col-sm-10">@Model.PriceKid</dd>

        <dt class="col-sm-2">Free</dt>
        <dd class="col-sm-10">@Model.Free</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
